<template>
  <div id="new_order_app">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">発注区分</div>
          </div>
          <div class="card-body">
            <div class="form-group clearfix">
              <div v-for="type in types" class="icheck-success d-inline mr-3" :key="type.id">
                <input :id="`type-${type.id}`" name="type" type="radio" @click="typeChange(type.name)" />
                <label class="pl-1" :for="`type-${type.id}`">{{ type.name }}</label>
              </div>
            </div>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label v-for="model in models" class="btn btn-outline-secondary multiline-btn" style="" :key="model.id">
                  <input :id="`model-${model.id}`" type="radio" @click="modelChange(model.id)" />{{ model.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <div class="row" v-if="products.length > 0">
              <div v-for="product in products" class="col-3 d-flex" :key="product.id">
                <div class="card card-outline card-warning">
                  <div class="card-header">
                    <div class="card-title">
                      <p class="card-product-name">{{ product.name }}</p>
                    </div>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <img src="/assets/sample.jpg" :alt="`${product.name}商品画像`" class="card-img d-block">
                  </div>
                  <div class="card-footer">
                    <div class="input-group">
                      <input :ref="`product-${product.id}`" class="form-control" type="number" name="quantity" />
                      <div class="input-group-append">
                        <input type="button" class="btn btn-primary" @click="addCart(product)" value="追加">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" v-else>
              <p>条件に該当する商品がありません。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div id="cart" class="card">
          <div class="card-header">
            <div class="card-title">発注内容</div>
          </div>
          <div class="card-body">
            <table class="table">
              <tr v-for="(c, i) in cart">
                <td>{{ c.product.code }}</td>
                <td>{{ c.product.name }}</td>
                <td class="text-right">{{ c.quantity }}</td>
                <td class="text-right">{{ c.price.toLocaleString() }}円</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" @click="removeCart(i)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-right" colspan="2">消費税等</td>
                <td></td>
                <td class="text-right">{{ tax_total.toLocaleString() }}円</td>
                <td></td>
              </tr>
              <tr>
                <td class="text-right" colspan="2">合計</td>
                <td></td>
                <td class="text-right">{{ grand_total.toLocaleString() }}円</td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="card-body">
            <div class="card-title mb-2">備考</div>
            <textarea class="form-control" rows="5" name="note"></textarea>
            <div class="text-danger font-weight-bold small mt-2">※フロントパネルの注文数が10枚未満の場合は着払いとなります。</div>
            <div class="text-center mt-3">
              <template v-for="c in cart">
                <input type="hidden" name="num[]" :value="c.quantity">
                <input type="hidden" name="product_id[]" :value="c.product.id">
              </template>
              <input class="btn btn-primary" type="submit" value="発注を確定する" @click="processOrder($event)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const TAX_RATE = 0.1

export default {
  props: ['partsTypes', 'targetModels', 'availableProducts'],
  data: function() {
    return {
      isAccessory: false,
      models: [],
      products: [],
      cart: []
    }
  },
  computed: {
    types: function() {
      return this.partsTypes
    },
    price_total: function() {
      if (this.cart.length === 0) return 0

      return this.cart.reduce((total, c) => {
        return total + c.price
      }, 0)
    },
    tax_total: function() {
      return Math.ceil(this.price_total * TAX_RATE)
    },
    grand_total: function() {
      return this.price_total + this.tax_total
    }
  },
  methods: {
    typeChange: function(name) {
      this.isAccessory = (name === 'アクセサリ')
      this.products = []
      this.setModels()
    },
    modelChange: function(modelId) {
      this.setProducts(modelId)
    },
    setModels: function() {
      if (this.isAccessory) {
        this.models = this.targetModels.filter((model) => {
          return model.accessory_flg
        })
      } else {
        // アクセサリーフラグのないモデルを抽出
        this.models = this.targetModels.filter((model) => {
          return !model.accessory_flg
        })
      }
    },
    setProducts: function(modelId) {
      this.products = this.availableProducts.filter((product) => {
        return product.target_model_ids.includes(modelId)
      })
    },
    addCart: function(product) {
      const quantity = this.$refs[`product-${product.id}`][0].value
      if (!quantity || quantity <= 0) return false

      this.cart.push({
        product: product,
        quantity: quantity,
        price: product.gross * quantity
      })

      this.$refs[`product-${product.id}`][0].value = ''
    },
    removeCart: function(index) {
      this.cart = this.cart.filter((_, i) => i !== index)
    },
    processOrder: function(e) {
      if (this.cart.length === 0) {
        alert('発注する商品を追加してください')
        e.preventDefault()
        return false
      }

      if (!confirm('発注を確定しますか？')) {
        e.preventDefault()
        return false
      }
    }
  }
}
</script>
