<html>

<head>
    <title>FastAPI Example</title>
</head>

<body>
    <h1>FastAPI Example</h1>
    <p>request header</p>
    <ul>
        <% @headers.each do |key, value| %>
        <li><%= key %>: <%= value %></li>
        <% end %>
    </ul>

    <%= link_to "仮のボタンです", "#", class: "btn btn-primary" %>
</body>

</html>
