<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
        <h2>ペンギンの種類を予測する</h2>
        <h3>パラメータ</h3>
        <%= form_with url: '/predict', method: :post do %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>モデル</th>
                        <th>嘴長さ</th>
                        <th>嘴幅</th>
                        <th>水かき</th>
                        <th>重さ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        <% @models.each do |model| %>
                            <%= radio_button_tag "data[model]", "#{model[1]}", checked=true %><%= model[0] %><br/>
                        <% end %>
                        </td>
                        <td><%= text_field_tag "data[bill_length]", 39.1, class: "form-control param-code" %></td>
                        <td><%= text_field_tag "data[bill_depth]", 18.7, class: "form-control param-code"  %></td>
                        <td><%= text_field_tag "data[flipper_length]", 181.0, class: "form-control param-code"  %></td>
                        <td><%= text_field_tag "data[body_mass]", 3750.0, class: "form-control param-code"  %></td>
                    </tr>
                </body>
            </table>
            <%= submit_tag '予測！', class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
