<div class="container">
<h2>予測結果</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>種類</th>
            <th>確率</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @result['name'] %></td>
            <td><%= @result['probability'] %></td>
        </tr>
    </tbody>
</table>
</div>